.zoom-enter-active,
.zoom-leave-active {
  transition-duration: var(--transition-duration, 300ms);
  transition-property: all;
  transition-timing-function: ease;
}

.zoom-enter-from,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0);
}
