.flip-y-enter-active,
.flip-y-leave-active {
  transition-duration: var(--transition-duration, 300ms);
  transition-property: all;
  transition-timing-function: ease;
}

.flip-y-enter-from,
.flip-y-leave-to {
  transform: rotateY(-180deg);
  opacity: 0;
}
