@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, var(--transform-distance), 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-in-up-leave-active {
  transition: opacity var(--transition-duration, 300ms);
}

.fade-in-up-leave-to {
  opacity: 0;
}

.fade-in-up-enter-from {
  opacity: 0;
  transform: translate3d(0, var(--transform-distance), 0);
}

.fade-in-up-enter-to {
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
