@keyframes fadeInLeft {
  from {
    transform: translate3d(calc(0px - var(--transform-distance)), 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-in-left-leave-active {
  transition: opacity var(--transition-duration, 300ms);
}

.fade-in-left-leave-to {
  opacity: 0;
}

.fade-in-left-enter-from {
  opacity: 0;
  transform: translate3d(calc(0px - var(--transform-distance)), 0, 0);
}

.fade-in-left-enter-to {
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}
