@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(var(--transform-distance), 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-in-right-leave-active {
  transition: opacity var(--transition-duration, 300ms);
}

.fade-in-right-leave-to {
  opacity: 0;
}

.fade-in-right-enter-from {
  opacity: 0;
  transform: translate3d(var(--transform-distance), 0, 0);
}

.fade-in-right-enter-to {
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
